{{ define "main" }}
<section class="blog-list">
  <h2>Capybara's Blog</h2>
  <div class="publication-grid">
    {{ range .Pages }}
      {{ $p := . }}
      <div class="blog-card">
        {{ if $p.Params.cover }}
          <a href="{{ $p.Permalink }}">
            <div class="cover-image">
              <img src="{{ $p.Params.cover }}" alt="{{ $p.Title }}">
            </div>
          </a>
        {{ end }}
        <div class="card-content" {{ if not $p.Params.cover }}style="padding-top: 20px;"{{ end }}>
          <h3><a href="{{ $p.Permalink }}">{{ $p.Title }}</a></h3>
          <p class="summary">{{ $p.Summary }}</p>
          <p class="date"> 📅 {{ $p.Date.Format "01-02-2006" }}</p>
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
