<div class="sidebar">
 <div class="profile-card">
   <img src="{{ .Site.Params.profilePhoto | relURL }}" alt="Profile Photo">
   <h2>{{ .Site.Params.name_en }}</h2>
   <h3>{{ .Site.Params.name_cn }}</h3>
   <p>{{ .Site.Params.position }}</p>
   <p>{{ .Site.Params.company }}</p>
 </div>
  <nav class="nav">
    <div class="hamburger">&#9776;</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#publications">Publications</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="/blog/">Capybara's blog</a></li>
    </ul>
  </nav>
</div>

